<% components_path = "static/home_components/" %>
<!-- ========== MAIN ========== -->
<main id="content" role="main" class="overflow-hidden">
  <%= render components_path + "hero" %>
  <%= render components_path + "manifest" %>
  <%= render components_path + "perks" %>
  <%= render components_path + "program_summary" %>
  <%= render components_path + "full_program" %>
  <%= render components_path + "testimonial" %>
  <%= render components_path + "four_steps" %>
  <%= render components_path + "team" %>
  <%= render components_path + "pricing" %>
  <%= render components_path + "apply_cta" %>
</main>
<!-- ========== END MAIN ========== -->


<script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/"; if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>
<!-- JS Plugins Init. -->
<script>
  $(document).on('ready', function () {
    // initialization of header
    var header = new HSHeader($('#header')).init();

    // initialization of mega menu
    var megaMenu = new HSMegaMenu($('.js-mega-menu'), {
      desktop: {
        position: 'left'
      }
    }).init();

    // initialization of unfold
    var unfold = new HSUnfold('.js-hs-unfold-invoker').init();

    // initialization of fancybox
    $('.js-fancybox').each(function () {
      var fancybox = $.HSCore.components.HSFancyBox.init($(this));
    });

    // initialization of circles
    $('.js-circle').each(function () {
      var circle = $.HSCore.components.HSCircles.init($(this));
    });

    // initialization of aos
    AOS.init({
      duration: 650,
      once: true
    });

    // initialization of go to
    $('.js-go-to').each(function () {
      var goTo = new HSGoTo($(this)).init();
    });
  });
</script>