<!-- ========== MAIN ========== -->
<main id="content" role="main" class="overflow-hidden">
  <!-- Hero Section -->
  <div class="gradient-y-gray position-relative">
    <div class="space-top-4 space-bottom-2 space-bottom-lg-3">
      <div class="container mt-lg-11">
        <!-- Content -->
        <div class="row">
          <div class="col-lg-5 col-xl-6">
            <div class="mb-5">
              <h1 class="display-4">Prends en main ta carrière de musicien.</h1>
              <p class="lead">Nous accompagnons les musicien·nes les plus ambitieux·ses dans le développement de leur carrière grâce à des formations en ligne complètes et uniques.</p>
            </div>

            <div class="col-sm-auto">
              <a href="#apply" class="btn btn-primary btn-block">Candidater à la formation</a>
            </div>
          </div>
        </div>
        <!-- End Content -->
      </div>

      <div class="transform-rotate-4">
        <div class="d-none d-lg-flex flex-lg-wrap align-items-lg-end position-absolute top-0 left-50 transform-rotate-6" style="width: 45rem;">
          <!-- Device Mockup -->
          <div class="device device-horizontal-ipad mr-4 mb-4" style="width: 31rem;" data-aos="fade-up" data-aos-delay="150" data-aos-offset="-300">
            <%= image_tag("people/img1.jpg", class: "img-fluid rounded", style: "margin-top: -18rem;", alt: "Photo d'illustration de la formation en ligne Artiste Entrepreneur") %>
          </div>
        </div>
      </div>
    </div>

    <!-- SVG Bottom Shape -->
    <figure>
      <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 1920 100.1">
        <path fill="#fff" d="M0,0c0,0,934.4,93.4,1920,0v100.1H0L0,0z"/>
      </svg>
    </figure>
    <!-- End SVG Bottom Shape -->
  </div>
  <!-- End Hero Section -->

  <!-- Articles Section -->
  <div id="manifest" class="container space-2 space-lg-2">
    <!-- Title -->
    <div class="w-md-80 w-lg-60 text-center mx-md-auto mb-5 mb-md-5">
      <h2>L'artiste est un entrepreneur qui s'ignore.</h2>
    </div>
    <!-- End Title -->

    <div class="w-md-80 w-lg-60 text-center mx-md-auto mb-5 mb-md-9">
      <p>
        Que tu le veuilles ou non, tu es un·e entrepreneur·euse. En tant qu'artiste, tu évolues sur un marché avec de la concurrence. Tu dois trouver des clients pour vendre ton travail, démarcher pour convaincre, organiser ta journée et dédier du temps à ta création artistique et surtout... payer tes factures. Tu pratiques ton art au quotidien mais tu comprends que cela n'est pas suffisant. <br><br>
        Notre mission est de t'accompagner dans l’acquisition de compétences opérationnelles, dans le développement d'une culture entrepreneuriale et dans l'utilisation des meilleurs outils et stratégies numériques pour booster tes projets artistiques et enfin vivre correctement et en toute indépendance de ton art. 
      </p>
    </div>
  </div>
  <!-- End Articles Section -->

  <div class="bg-light rounded mx-3 mx-md-11 space-lg-3 mb-11 py-11 py-xl-0 " style="background-image: url(assets/svg/components/abstract-shapes-20.svg)">
    <div class="container">
      <div class="w-md-80 w-lg-60 text-center mx-md-auto mb-11 mb-md-11">
        <h2>La formation Artiste Entrepreneur <br>en trois points.</h2>
      </div>
      <div class="row">
        <div class="col-sm-4 text-center">
          <%= image_tag("icons/video-tutorials.png", class: "img-fluid w-25 mb-3", alt: "Icône d'illustration des tutoriels vidéo") %>
          <h3 class="">Formation <br>vidéo</h3>
        </div>
        <div class="col-sm-4 text-center">
          <%= image_tag("icons/conversation.png", class: "img-fluid w-25 mb-3", alt: "Icône d'illustration de la communauté") %>
          <h3 class="">Communauté<br> d'artistes</h3>
        </div>
        <div class="col-sm-4 text-center">
          <%= image_tag("icons/videoconference.png", class: "img-fluid w-25 mb-3", alt: "Icône d'illustration de la visio-conférence") %>
          <h3 class="">Coaching en <br>petit groupe</h3>
        </div>
      </div>
    </div>
  </div>

  <!-- Articles Section -->
  <div id="program" class="container space-2">
    <!-- Title -->
    <div class="w-md-80 w-lg-50 text-center mx-md-auto mb-5 mb-md-9">
      <h2 class="mb-3">Formation Artiste Entrepreneur <br> le programme.</h2>
      <p>Une formation <b>100% en ligne et 100% finançable</b> où nous allons approfondir <b>6 thématiques clés</b> à l’aide de plus de <b>12 heures de vidéos exclusives</b> avec des intervenants experts et reconnus dans leur domaine. </p>
    </div>
    <!-- End Title -->

    <div class="row">
      <div class="col-md-6 col-lg-4 mb-4 mb-md-5 mb-lg-0">
        <!-- Card -->
        <div class="card shadow-soft h-100 text-center transition-3d-hover">
          <div class="card-body pt-7 px-7">
            <figure class="avatar mx-auto mb-4">
              <%= image_tag("icons/band.png", class: "avatar-img", alt: "Icône d'illustration de projet artistique") %>
            </figure>
            <h3>Projet artistique</h3>
            <p class="text-body">Créer un projet artistique professionnel intelligemment et sans te ruiner. </p>
          </div>
        </div>
        <!-- End Card -->
      </div>

      <div class="col-md-6 col-lg-4 mb-4 mb-md-5 mb-lg-0">
        <!-- Card -->
        <div class="card shadow-soft h-100 text-center transition-3d-hover">
          <div class="card-body pt-7 px-7">
            <figure class="avatar mx-auto mb-4">
              <%= image_tag("icons/design-thinking.png", class: "avatar-img", alt: "Icône d'illustration de l'état d'esprit") %>
            </figure>
            <h3>L'état d'esprit</h3>
            <p class="text-body">Acquérir l'état d'esprit qui te permettra de voir ta carrière avec l'oeil de l'entrepreneur.</p>
          </div>
        </div>
        <!-- End Card -->
      </div>

      <div class="col-md-6 col-lg-4">
        <!-- Card -->
        <div class="card shadow-soft h-100 text-center transition-3d-hover">
          <div class="card-body pt-7 px-7">
            <figure class="avatar mx-auto mb-4">
              <%= image_tag("icons/digital-marketing.png", class: "avatar-img", alt: "Icône d'illustration du marketing digital") %>
            </figure>
            <h3>Marketing Digital</h3>
            <p class="text-body">Mettre le marketing digital à ton service pour mieux promouvoir tes projets.</p>
          </div>
        </div>
        <!-- End Card -->
      </div>
    </div>

    <div class="row mt-5">
      <div class="col-md-6 col-lg-4 mb-4 mb-md-5 mb-lg-0">
        <!-- Card -->
        <div class="card shadow-soft h-100 text-center transition-3d-hover">
          <div class="card-body pt-7 px-7">
            <figure class="avatar mx-auto mb-4">
              <%= image_tag("icons/sell.png", class: "avatar-img", alt: "Icône d'illustration de la vente") %>
            </figure>
            <h3>La vente</h3>
            <p class="text-body">Mieux vendre ta musique, ton spectacle, tes vidéos, ton merchandising...</p>
          </div>
        </div>
        <!-- End Card -->
      </div>

      <div class="col-md-6 col-lg-4 mb-4 mb-md-5 mb-lg-0">
        <!-- Card -->
        <div class="card shadow-soft h-100 text-center transition-3d-hover">
          <div class="card-body pt-7 px-7">
            <figure class="avatar mx-auto mb-4">
              <%= image_tag("icons/worker.png", class: "avatar-img", alt: "Icône d'illustration de l'environnement pro") %>
            </figure>
            <h3>L'environnement pro</h3>
            <p class="text-body">Comprendre ton environnement et en prendre le meilleur pour évoluer plus vite.</p>
          </div>
        </div>
        <!-- End Card -->
      </div>

      <div class="col-md-6 col-lg-4">
        <!-- Card -->
        <div class="card shadow-soft h-100 text-center transition-3d-hover">
          <div class="card-body pt-7 px-7">
            <figure class="avatar mx-auto mb-4">
              <%= image_tag("icons/bar-chart.png", class: "avatar-img", alt: "Icône d'illustration de la gestion financière") %>
            </figure>
            <h3>La gestion financière</h3>
            <p class="text-body">En finir avec le tabou de l'argent dans l'art. Faire plus et mieux de l'argent.</p>
          </div>
        </div>
        <!-- End Card -->
      </div>
      <div class="mt-11 mx-auto">
        <a class="btn btn-primary transition-3d-hover px-4" href="#apply">Candidater à la formation</a>
      </div>
    </div>
  </div>
  <!-- End Articles Section -->

  <!-- Stats Progress Section -->
  <!-- Testimonials Section -->
  <div id="testimonials" class="bg-light rounded mx-3 mx-md-11 mt-11">
    <div class="container space-1 space-md-2">
      <div class="card bg-transparent shadow-none">
        <div class="row">
          <div class="col-lg-3 d-none d-lg-block">
            <div class="dzsparallaxer auto-init height-is-based-on-content use-loading mode-scroll bg-light" data-options='{direction: "reverse"}' style="overflow: visible;">
              <div data-parallaxanimation='[{property: "transform", value:" translate3d(0,{{val}}rem,0)", initial:"4", mid:"0", final:"-4"}]'>
                <%= image_tag("people/david-millet.jpg", class: "img-fluid rounded shadow-lg", alt: "Témoignage de David Millet - Photo de Mathilde Baron") %>
                <!-- SVG Shapes -->
                <figure class="max-w-15rem w-100 position-absolute bottom-0 left-0 z-index-n1">
                  <div class="mb-n7 ml-n7">
                    <%= image_tag("svg/components/dots-5.svg", class: "img-fluid", alt: "Texture de fond") %>
                  </div>
                </figure>
                <!-- End SVG Shapes -->
              </div>
            </div>
          </div>

          <div class="col-lg-9">
            <!-- Card Body -->
            <div class="card-body h-100 rounded p-0 p-md-4">
              <!-- SVG Quote -->
              <figure class="mb-3">
                <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="36" height="36" viewBox="0 0 8 8">
                  <path fill="#377dff" d="M3,1.3C2,1.7,1.2,2.7,1.2,3.6c0,0.2,0,0.4,0.1,0.5c0.2-0.2,0.5-0.3,0.9-0.3c0.8,0,1.5,0.6,1.5,1.5c0,0.9-0.7,1.5-1.5,1.5
                                          C1.4,6.9,1,6.6,0.7,6.1C0.4,5.6,0.3,4.9,0.3,4.5c0-1.6,0.8-2.9,2.5-3.7L3,1.3z M7.1,1.3c-1,0.4-1.8,1.4-1.8,2.3
                                          c0,0.2,0,0.4,0.1,0.5c0.2-0.2,0.5-0.3,0.9-0.3c0.8,0,1.5,0.6,1.5,1.5c0,0.9-0.7,1.5-1.5,1.5c-0.7,0-1.1-0.3-1.4-0.8
                                          C4.4,5.6,4.4,4.9,4.4,4.5c0-1.6,0.8-2.9,2.5-3.7L7.1,1.3z"/>
                </svg>
              </figure>
              <!-- End SVG Quote -->

              <div class="row">
                <div class="col-lg-8 mb-3 mb-lg-0">
                  <div class="pr-lg-5">
                    <blockquote class="h3 font-weight-normal mb-4">La formation Artiste Entrepreneur m'a permis de mieux comprendre la dimension entrepreneuriale de l'art. J'ai pu faire ma propre stratégie de développement et améliorer mes revenus issus de ma musique.</blockquote>
                    <div class="media">
                      <div class="avatar avatar-xs avatar-circle d-lg-none mr-2">
                        <%= image_tag("100x100/david-millet.png", class: "avatar-img", alt: "Photo d'illustration du témoignant") %>
                      </div>
                      <div class="media-body">
                        <a href="https://www.facebook.com/iyere.music/" target="_blank">
                          <span class="font-weight-bold">Iyere</span>
                        </a>
                        <span class="font-size-1">&mdash; Musicien Entrepreneur</span>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-lg-4 column-divider-lg">
                  <hr class="d-lg-none">

                  <div class="pl-lg-5">
                    <span class="h3 text-primary">Une communauté inspirante.</span>
                    <p class="font-size-1">Accède à une communauté motivée qui partage ses bonnes pratiques pour faire mieux chaque jour.</p>
                    <a class="font-size-1 text-nowrap" href="#apply">Rejoindre la communauté <i class="fas fa-angle-right fa-sm ml-1"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Card Body -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Testimonials Section -->



  <!-- Features Section -->
  <div class="overflow-hidden space-2">
    <div class="container mt-5 mb-11">
      <div class="mb-11 text-center">
        <h2>L'ambition s'apprend et se pratique.</h2>
      </div>
      <div class="row justify-content-lg-between align-items-lg-center">

        <div class="col-lg-5 mb-9 mb-lg-0">
          <!-- Mockups -->
          <div class="position-relative max-w-40rem mx-auto">
            <%= image_tag("svg/illustrations/reading.svg", class: "device-iphone-x-frame", alt: "Image d'illustration de l'apprentissage") %>
          </div>
          <!-- End Mockups -->
        </div>

        <div class="col-lg-7">
          <!-- Icon Block -->
          <ul class="step step-dashed mb-7">
            <li class="step-item">
              <div class="step-content-wrapper">
                <span class="step-icon step-icon-xs step-icon-soft-primary">1</span>
                <div class="step-content">
                  <h3 class="h4">Acquérir le meilleur état d'esprit.</h3>
                  <p>Les meilleurs outils ne feront rien pour toi si tu n'as pas le bon état d'esprit. Le début de la formation a pour ambition de te faire voir d'un oeil différent le business dans la musique et la façon dont tu mènes ta carrière.</p>
                </div>
              </div>
            </li>
            <li class="step-item">
              <div class="step-content-wrapper">
                <span class="step-icon step-icon-xs step-icon-soft-primary">2</span>
                <div class="step-content">
                  <h4>Utiliser les meilleurs outils numériques.</h4>
                  <p class="mb-0">Un·e artiste ambitieux·euse avec les outils et la méthodologie appropriée est inarrêtable. Nos conseils concrets d'utilisation des outils numériques les plus performants te permettront de donner vie à tes projets avec plus d'efficience.</p>
                </div>
              </div>
            </li>
            <li class="step-item">
              <div class="step-content-wrapper">
                <span class="step-icon step-icon-xs step-icon-soft-primary">3</span>
                <div class="step-content">
                  <h4>S'approprier les meilleures stratégies.</h4>
                  <p class="mb-0">Dans notre formation, nous ne te livrerons pas de secrets pour mieux vivre de ta musique car il n'y en a pas. Par contre, nous te permettrons de t'approprier des stratégies logiques et fonctionnelles grâce auxquelles tu pourras améliorer ta carrière.</p>
                </div>
              </div>
            </li>
            <li class="step-item mb-0">
              <div class="step-content-wrapper">
                <span class="step-icon step-icon-xs step-icon-soft-primary">4</span>
                <div class="step-content">
                  <h4>Utiliser des ressources fonctionnelles et opérationnelles</h4>
                  <p class="mb-0">Pourquoi réinventer une énième fois la roue : templates Excel, site internet, stratégie de contenu, checklists, configurations, plans... Ces choses, nous les avons. Nous allons te les donner pour que tu gagnes du temps et que tu te concentres sur ta musique.</p>
                </div>
              </div>
            </li>
          </ul>
          <!-- End Icon Block -->
        </div>
        <div class="mt-4 mx-auto">
          <a class="btn btn-primary transition-3d-hover px-4" href="#apply">Candidater à la formation</a>
        </div> 
      </div>
    </div>
  </div>
  <!-- End Features Section -->

  <!-- Team Section -->
  <div id="team" class="container space-3">
    <!-- Title -->
    <div class="w-md-80 w-lg-60 text-center mx-md-auto">
      <h2>Une équipe de musiciens <br>et entrepreneurs chevronnés.</h2>
    </div>
    <!-- End Title -->

    <!-- Clients Section -->
    <div class="container space-1">
      <div class="w-lg-100 mx-lg-auto">
        <div class="w-md-75 w-lg-50 text-center mx-md-auto mb-7">
          <h4 class="text-body h6 text-cap">Et ayant travaillé avec les plus grands</h4>
        </div>

        <div class="row justify-content-between text-center">
          <div class="col-lg-1"></div>
          <div class="col-4 col-lg-2 mb-5 mb-lg-0">
            <div class="mx-3">
              <%= image_tag("logos/brands/cultura.png", class: "max-w-11rem max-w-md-13rem mx-auto", alt: "Logo de la société Cultura") %>
            </div>
          </div>
          <div class="col-4 col-lg-2 mb-5 mb-lg-0">
            <div class="mx-3">
              <%= image_tag("logos/brands/universal.png", class: "max-w-11rem max-w-md-13rem mx-auto", alt: "Logo de la société Universal Music ") %>
            </div>
          </div>
          <div class="col-4 col-lg-2 mb-5 mb-lg-0">
            <div class="mx-3">
              <%= image_tag("logos/brands/sony.png", class: "max-w-11rem max-w-md-13rem mx-auto", alt: "Logo de la société Sony Music") %>
            </div>
          </div>
          <div class="col-6 col-lg-2">
            <div class="mx-3">
              <%= image_tag("logos/brands/deezer.png", class: "max-w-11rem max-w-md-13rem mx-auto", alt: "Logo de la société Deezer") %>
            </div>
          </div>
          <div class="col-6 col-lg-2">
            <div class="mx-3">
              <%= image_tag("logos/brands/inseec.png", class: "max-w-11rem max-w-md-13rem mx-auto", alt: "Logo de la société INSEEC U.") %>
            </div>
          </div>
          <div class="col-lg-1"></div>
        </div>
      </div>
    </div>
    <!-- End Clients Section -->

    <div class="row mx-n2 mt-7 mb-5">
      <div class="col-sm-6 col-lg-3 px-2 mb-3">
        <!-- Team -->
        <div class="card h-100 transition-3d-hover">
          <div class="card-body">
            <div class="avatar avatar-lg avatar-circle mb-4">
              <%= image_tag("100x100/qr.jpg", class: "avatar-img", alt: "Photo de profil de ") %>
            </div>

            <span class="d-block small font-weight-bold text-cap mb-1">Vente et <br>marketing digital</span>
            <h4 class="text-lh-sm">Quinchy Riya</h4>
            <p class="font-size-1">Fondateur du webzine musical FreshVibez et du logiciel de gestion de gallerie d'art AnatoleTools, Quinchy enseigne également la vente et le marketing digital en master chez Euridis et à l'ICD.</p>
          </div>

          <div class="card-footer border-0 pt-0">
            <!-- Social Networks -->
            <ul class="list-inline mb-0">
              <li class="list-inline-item">
                <a class="btn btn-xs btn-icon btn-soft-secondary rounded" href="https://quinchyriya.com" target="_blank">
                  <i class="fas fa-link"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="btn btn-xs btn-icon btn-soft-secondary rounded" href="https://www.linkedin.com/in/quinchy-riya-67913427/" target="_blank">
                  <i class="fab fa-linkedin"></i>
                </a>
              </li>
            </ul>
            <!-- End Social Networks -->
          </div>
        </div>
        <!-- End Team -->
      </div>

      <div class="col-sm-6 col-lg-3 px-2 mb-3">
        <!-- Team -->
        <div class="card h-100 transition-3d-hover">
          <div class="card-body">
            <div class="avatar avatar-lg avatar-circle mb-4">
              <%= image_tag("100x100/aa.jpg", class: "avatar-img", alt: "Photo de profil de Anthony Amar ") %>
            </div>

            <span class="d-block small font-weight-bold text-cap mb-1">État d'esprit et<br> Marketing Digital</span>
            <h4 class="text-lh-sm">Anthony Amar</h4>
            <p class="font-size-1">CEO et co-fondateur de Studiomatic, Anthony a été musicien pro et coordinateur pédagogique chez Cultura. Il enseigne également le marketing digital en master à l'INSEEC et Supdeweb.</p>
          </div>

          <div class="card-footer border-0 pt-0">
            <!-- Social Networks -->
            <ul class="list-inline mb-0">
              <li class="list-inline-item">
                <a class="btn btn-xs btn-icon btn-soft-secondary rounded" href="https://anthonyamar.fr" target="_blank">
                  <i class="fas fa-link"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="btn btn-xs btn-icon btn-soft-secondary rounded" href="https://www.linkedin.com/in/anthonyamar/" target="_blank">
                  <i class="fab fa-linkedin"></i>
                </a>
              </li>
            </ul>
            <!-- End Social Networks -->
          </div>
        </div>
        <!-- End Team -->
      </div>

      <div class="col-sm-6 col-lg-3 px-2 mb-3">
        <!-- Team -->
        <div class="card h-100 transition-3d-hover">
          <div class="card-body">
            <div class="avatar avatar-lg avatar-circle mb-4">
              <%= image_tag("100x100/al.jpg", class: "avatar-img", alt: "Photo de profil de Aurélien Lovalente") %>
            </div>

            <span class="d-block small font-weight-bold text-cap mb-1">Environemment pro et<br> Gestion financière</span>
            <h4 class="text-lh-sm">Aurélien Lovalente</h4>
            <p class="font-size-1">CMO et co-fondateur de Studiomatic, Aurélien a travaillé pendant près de 10 en tant que directeur marketing et manager d'artistes chez Sony Music, Universal et Deezer. </p>
          </div>

          <div class="card-footer border-0 pt-0">
            <!-- Social Networks -->
            <ul class="list-inline mb-0">
              <li class="list-inline-item">
                <a class="btn btn-xs btn-icon btn-soft-secondary rounded" href="https://www.studiomatic.co/" target="_blank">
                  <i class="fas fa-link"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="btn btn-xs btn-icon btn-soft-secondary rounded" href="https://www.linkedin.com/in/aurelienlovalente/" target="_blank">
                  <i class="fab fa-linkedin"></i>
                </a>
              </li>
            </ul>
            <!-- End Social Networks -->
          </div>
        </div>
        <!-- End Team -->
      </div>

      <div class="col-sm-6 col-lg-3 px-2 mb-3">
        <!-- Team -->
        <div class="card h-100 transition-3d-hover">
          <div class="card-body">
            <div class="avatar avatar-lg avatar-circle mb-4">
              <%= image_tag("100x100/nc.jpg", class: "avatar-img", alt: "Photo de profil de Nathan Cocherie") %>
            </div>

            <span class="d-block small font-weight-bold text-cap mb-1">Projet artistique et<br> état d'esprit</span>
            <h4 class="text-lh-sm">Nathan Cocherie</h4>
            <p class="font-size-1">Nathan a travaillé dans l’industrie musicale à Paris, New York et Berlin avant de se lancer entant que réalisateur artistique à son compte.</p>
          </div>

          <div class="card-footer border-0 pt-0">
            <!-- Social Networks -->
            <ul class="list-inline mb-0">
              <li class="list-inline-item">
                <a class="btn btn-xs btn-icon btn-soft-secondary rounded" href="https://nathancocherie.com/" target="_blank">
                  <i class="fas fa-link"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="btn btn-xs btn-icon btn-soft-secondary rounded" href="https://www.linkedin.com/in/nathancocherie/" target="_blank">
                  <i class="fab fa-linkedin"></i>
                </a>
              </li>
            </ul>
            <!-- End Social Networks -->
          </div>
        </div>
        <!-- End Team -->
      </div>
    </div>


  </div>
  <!-- End Team Section -->


  <!-- Pricing Section -->
  <div id="pricing" class="container space-2 mb-11">
    <!-- Title -->
    <div class="w-md-75 w-lg-50 text-center mx-md-auto mb-5 mb-md-9">
      <h2>Combien ça coûte ?</h2>
    </div>
    <!-- End Title -->

    <div class="row align-items-lg-center">
      <div id="stickyBlockStartPoint" class="col-lg-5 mb-9 mb-lg-0 text-center">
        <!-- Pricing -->
        <div class="card z-index-2 p-4 p-md-7">
          <span class="text-dark">
            <span class="display-4">790</span>
            <span class="font-size-2">€</span>
          </span>

          <hr class="my-4">

          <div class="mb-5">
            <p>Un seul et unique tarif. 100% finançable.</p>
          </div>

          <div class="mb-2">
            <a class="btn btn-primary transition-3d-hover" href="#apply">
              Candidater à la formation <i class="fas fa-angle-right fa-sm ml-1"></i>
            </a>
          </div>
        </div>
        <!-- End Pricing -->
      </div>

      <div class="col-lg-7">
        <div class="pl-lg-6">
          <div class="row">
            <div class="col-sm-6 mb-3">
              <!-- Icon Blocks -->
              <figure class="w-100 mx-auto max-w-8rem mb-3">
                <%= image_tag("icons/money.png", class: "img-fluid", alt: "Icône d'illustration du financement") %>
              </figure>
              <h4 class="text-center">100% finançable</h4>
              <p>Nous t'aidons à monter ton dossier de financement pour que tu puisses faire la formation à moindre coût.</p>
              <!-- End Icon Blocks -->
            </div>
            <div class="col-sm-6 mb-3">
              <!-- Icon Blocks -->
              <figure class="w-100 mx-auto max-w-8rem mb-3">
                <%= image_tag("icons/video-tutorials.png", class: "img-fluid", alt: "Icône d'illustration de la formation 100% en ligne") %>
              </figure>
              <h4 class="text-center">100% en ligne</h4>
              <p>Fais la formation d'où tu veux, à distance et à ton rythme grâce aux vidéos et aux lives.</p>
              <!-- End Icon Blocks -->
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6 mb-3 mb-sm-0">
              <!-- Icon Blocks -->
              <figure class="w-100 mx-auto max-w-8rem mb-3">
                <%= image_tag("icons/video.png", class: "img-fluid", alt: "Icône d'illustration d'accès à vie aux vidéos") %>
              </figure>
              <h4 class="text-center">Accès à vie aux vidéos</h4>
              <p>Nous te garantissons un accès aux vidéos à vie afin que tu puisses revenir sur certaines notions plus tard. </p>
              <!-- End Icon Blocks -->
            </div>
            <div class="col-sm-6">
              <!-- Icon Blocks -->
              <figure class="w-100 mx-auto max-w-8rem mb-3">
                <%= image_tag("icons/conversation.png", class: "img-fluid", alt: "Icône d'illustration de la communauté") %>
              </figure>
              <h4 class="text-center">Accès à vie à la communauté</h4>
              <p>Une fois la formation commencée, tu fais partie de notre communauté privée et on ne te lâchera pas.</p>
              <!-- End Icon Blocks -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Pricing Section -->

  <!-- CTA Section -->
  <div id="apply" class="bg-light">
    <div class="container space-2 space-lg-3">
      <div class="w-md-80 w-lg-50 text-center mx-md-auto mb-5 mb-md-9">
        <h2>Intéressé·e par notre formation ?<br>Pré-inscription + 30 minutes de coaching gratuites.</h2>
      </div>

      <!-- Pricing -->
      <div class="row align-items-lg-center no-gutters">
        <div class="col-lg-12">
          <!-- Card -->
          <div class="card bg-navy text-center ml-lg-n2" data-aos="fade-up" data-aos-delay="200">
            <div class="card-body p-7">
              <figure class="max-w-10rem mx-auto mb-4">
                <%= image_tag("svg/icons/icon-white-4.svg", class: "img-fluid", alt: "Icône d'illustration du chat") %>
              </figure>
              <h2 class="text-white">Appelons-nous pour faire le point.</h2>
              <p class="text-white w-75 mx-auto">On prendra le temps de discuter de ton activité d'artiste, des choses qui t'empêchent d'aller plus loin et si tu le souhaites, nous t'aideront à créer ton dossier de financement.</p>
            </div>

            <hr class="opacity-xs my-0">
            <a class="typeform-share" href="https://form.typeform.com/to/jcuS1lRt" data-mode="popup" target="_blank">
              <div class="card-footer border-0 bg-navy px-7">
                <p class="text-white font-weight-bold mt-3 fa-lg">Je profite de l'offre<i class="fas fa-angle-right fa-sm ml-1"></i></p>
              </div>
            </a> 
          </div>
          <!-- End Card -->
        </div>
      </div>
      <!-- End CTA -->
    </div>
  </div>
</main>
<!-- ========== END MAIN ========== -->


<script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/"; if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>
<!-- JS Plugins Init. -->
<script>
  $(document).on('ready', function () {
    // initialization of header
    var header = new HSHeader($('#header')).init();

    // initialization of mega menu
    var megaMenu = new HSMegaMenu($('.js-mega-menu'), {
      desktop: {
        position: 'left'
      }
    }).init();

    // initialization of unfold
    var unfold = new HSUnfold('.js-hs-unfold-invoker').init();

    // initialization of fancybox
    $('.js-fancybox').each(function () {
      var fancybox = $.HSCore.components.HSFancyBox.init($(this));
    });

    // initialization of circles
    $('.js-circle').each(function () {
      var circle = $.HSCore.components.HSCircles.init($(this));
    });

    // initialization of aos
    AOS.init({
      duration: 650,
      once: true
    });

    // initialization of go to
    $('.js-go-to').each(function () {
      var goTo = new HSGoTo($(this)).init();
    });
  });
</script>