<!-- Program Summary Section -->
<div id="program" class="container space-2">
  <!-- Title -->
  <div class="w-md-80 w-lg-50 text-center mx-md-auto mb-5 mb-md-9">
    <h2 class="mb-3">Formation Artiste Entrepreneur <br> le programme.</h2>
    <p>Une formation <b>100% en ligne et 100% finançable</b> où nous allons approfondir <b>6 thématiques clés</b> à l’aide de plus de <b>12 heures de vidéos exclusives</b> avec des intervenants experts et reconnus dans leur domaine. </p>
  </div>
  <!-- End Title -->

  <div class="row">
    <div class="col-md-6 col-lg-4 mb-4 mb-md-5 mb-lg-0">
      <!-- Card -->
      <div class="card shadow-soft h-100 text-center transition-3d-hover">
        <div class="card-body pt-7 px-7">
          <figure class="avatar mx-auto mb-4">
            <%= image_tag("icons/band.png", class: "avatar-img", alt: "Icône d'illustration de projet artistique") %>
          </figure>
          <h3>Projet artistique</h3>
          <p class="text-body">Créer un projet artistique professionnel intelligemment et sans te ruiner. </p>
        </div>
      </div>
      <!-- End Card -->
    </div>

    <div class="col-md-6 col-lg-4 mb-4 mb-md-5 mb-lg-0">
      <!-- Card -->
      <div class="card shadow-soft h-100 text-center transition-3d-hover">
        <div class="card-body pt-7 px-7">
          <figure class="avatar mx-auto mb-4">
            <%= image_tag("icons/design-thinking.png", class: "avatar-img", alt: "Icône d'illustration de l'état d'esprit") %>
          </figure>
          <h3>L'état d'esprit</h3>
          <p class="text-body">Acquérir l'état d'esprit qui te permettra de voir ta carrière avec l'oeil de l'entrepreneur.</p>
        </div>
      </div>
      <!-- End Card -->
    </div>

    <div class="col-md-6 col-lg-4">
      <!-- Card -->
      <div class="card shadow-soft h-100 text-center transition-3d-hover">
        <div class="card-body pt-7 px-7">
          <figure class="avatar mx-auto mb-4">
            <%= image_tag("icons/digital-marketing.png", class: "avatar-img", alt: "Icône d'illustration du marketing digital") %>
          </figure>
          <h3>Marketing Digital</h3>
          <p class="text-body">Mettre le marketing digital à ton service pour mieux promouvoir tes projets.</p>
        </div>
      </div>
      <!-- End Card -->
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-md-6 col-lg-4 mb-4 mb-md-5 mb-lg-0">
      <!-- Card -->
      <div class="card shadow-soft h-100 text-center transition-3d-hover">
        <div class="card-body pt-7 px-7">
          <figure class="avatar mx-auto mb-4">
            <%= image_tag("icons/sell.png", class: "avatar-img", alt: "Icône d'illustration de la vente") %>
          </figure>
          <h3>La vente</h3>
          <p class="text-body">Mieux vendre ta musique, ton spectacle, tes vidéos, ton merchandising...</p>
        </div>
      </div>
      <!-- End Card -->
    </div>

    <div class="col-md-6 col-lg-4 mb-4 mb-md-5 mb-lg-0">
      <!-- Card -->
      <div class="card shadow-soft h-100 text-center transition-3d-hover">
        <div class="card-body pt-7 px-7">
          <figure class="avatar mx-auto mb-4">
            <%= image_tag("icons/worker.png", class: "avatar-img", alt: "Icône d'illustration de l'environnement pro") %>
          </figure>
          <h3>L'environnement pro</h3>
          <p class="text-body">Comprendre ton environnement et en prendre le meilleur pour évoluer plus vite.</p>
        </div>
      </div>
      <!-- End Card -->
    </div>

    <div class="col-md-6 col-lg-4">
      <!-- Card -->
      <div class="card shadow-soft h-100 text-center transition-3d-hover">
        <div class="card-body pt-7 px-7">
          <figure class="avatar mx-auto mb-4">
            <%= image_tag("icons/bar-chart.png", class: "avatar-img", alt: "Icône d'illustration de la gestion financière") %>
          </figure>
          <h3>La gestion financière</h3>
          <p class="text-body">En finir avec le tabou de l'argent dans l'art. Faire plus et mieux de l'argent.</p>
        </div>
      </div>
      <!-- End Card -->
    </div>
    <div class="mt-11 mx-auto">
      <a class="btn btn-primary transition-3d-hover px-4" href="#apply">Candidater à la formation</a>
    </div>
  </div>
</div>
<!-- End Program Summary Section -->