<!-- Team Section -->
<div id="team" class="container space-3">
  <!-- Title -->
  <div class="w-md-80 w-lg-60 text-center mx-md-auto">
    <h2>Une équipe de musiciens <br>et entrepreneurs chevronnés.</h2>
  </div>
  <!-- End Title -->

  <!-- Clients Section -->
  <div class="container space-1">
    <div class="w-lg-100 mx-lg-auto">
      <div class="w-md-75 w-lg-50 text-center mx-md-auto mb-7">
        <h4 class="text-body h6 text-cap">Et ayant travaillé avec les plus grands</h4>
      </div>

      <div class="row justify-content-between text-center">
        <div class="col-lg-1"></div>
        <div class="col-4 col-lg-2 mb-5 mb-lg-0">
          <div class="mx-3">
            <%= image_tag("logos/brands/cultura.png", class: "max-w-11rem max-w-md-13rem mx-auto", alt: "Logo de la société Cultura") %>
          </div>
        </div>
        <div class="col-4 col-lg-2 mb-5 mb-lg-0">
          <div class="mx-3">
            <%= image_tag("logos/brands/universal.png", class: "max-w-11rem max-w-md-13rem mx-auto", alt: "Logo de la société Universal Music ") %>
          </div>
        </div>
        <div class="col-4 col-lg-2 mb-5 mb-lg-0">
          <div class="mx-3">
            <%= image_tag("logos/brands/sony.png", class: "max-w-11rem max-w-md-13rem mx-auto", alt: "Logo de la société Sony Music") %>
          </div>
        </div>
        <div class="col-6 col-lg-2">
          <div class="mx-3">
            <%= image_tag("logos/brands/deezer.png", class: "max-w-11rem max-w-md-13rem mx-auto", alt: "Logo de la société Deezer") %>
          </div>
        </div>
        <div class="col-6 col-lg-2">
          <div class="mx-3">
            <%= image_tag("logos/brands/inseec.png", class: "max-w-11rem max-w-md-13rem mx-auto", alt: "Logo de la société INSEEC U.") %>
          </div>
        </div>
        <div class="col-lg-1"></div>
      </div>
    </div>
  </div>
  <!-- End Clients Section -->

  <div class="row mx-n2 mt-7 mb-5">
    <div class="col-sm-6 col-lg-3 px-2 mb-3">
      <!-- Team -->
      <div class="card h-100 transition-3d-hover">
        <div class="card-body">
          <div class="avatar avatar-lg avatar-circle mb-4">
            <%= image_tag("100x100/qr.jpg", class: "avatar-img", alt: "Photo de profil de ") %>
          </div>

          <span class="d-block small font-weight-bold text-cap mb-1">Vente et <br>marketing digital</span>
          <h4 class="text-lh-sm">Quinchy Riya</h4>
          <p class="font-size-1">Fondateur du webzine musical FreshVibez et du logiciel de gestion de gallerie d'art AnatoleTools, Quinchy enseigne également la vente et le marketing digital en master chez Euridis et à l'ICD.</p>
        </div>

        <div class="card-footer border-0 pt-0">
          <!-- Social Networks -->
          <ul class="list-inline mb-0">
            <li class="list-inline-item">
              <a class="btn btn-xs btn-icon btn-soft-secondary rounded" href="https://quinchyriya.com" target="_blank">
                <i class="fas fa-link"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a class="btn btn-xs btn-icon btn-soft-secondary rounded" href="https://www.linkedin.com/in/quinchy-riya-67913427/" target="_blank">
                <i class="fab fa-linkedin"></i>
              </a>
            </li>
          </ul>
          <!-- End Social Networks -->
        </div>
      </div>
      <!-- End Team -->
    </div>

    <div class="col-sm-6 col-lg-3 px-2 mb-3">
      <!-- Team -->
      <div class="card h-100 transition-3d-hover">
        <div class="card-body">
          <div class="avatar avatar-lg avatar-circle mb-4">
            <%= image_tag("100x100/aa.jpg", class: "avatar-img", alt: "Photo de profil de Anthony Amar ") %>
          </div>

          <span class="d-block small font-weight-bold text-cap mb-1">État d'esprit et<br> Marketing Digital</span>
          <h4 class="text-lh-sm">Anthony Amar</h4>
          <p class="font-size-1">CEO et co-fondateur de Studiomatic, Anthony a été musicien pro et coordinateur pédagogique chez Cultura. Il enseigne également le marketing digital en master à l'INSEEC et Supdeweb.</p>
        </div>

        <div class="card-footer border-0 pt-0">
          <!-- Social Networks -->
          <ul class="list-inline mb-0">
            <li class="list-inline-item">
              <a class="btn btn-xs btn-icon btn-soft-secondary rounded" href="https://anthonyamar.fr" target="_blank">
                <i class="fas fa-link"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a class="btn btn-xs btn-icon btn-soft-secondary rounded" href="https://www.linkedin.com/in/anthonyamar/" target="_blank">
                <i class="fab fa-linkedin"></i>
              </a>
            </li>
          </ul>
          <!-- End Social Networks -->
        </div>
      </div>
      <!-- End Team -->
    </div>

    <div class="col-sm-6 col-lg-3 px-2 mb-3">
      <!-- Team -->
      <div class="card h-100 transition-3d-hover">
        <div class="card-body">
          <div class="avatar avatar-lg avatar-circle mb-4">
            <%= image_tag("100x100/al.jpg", class: "avatar-img", alt: "Photo de profil de Aurélien Lovalente") %>
          </div>

          <span class="d-block small font-weight-bold text-cap mb-1">Environemment pro et<br> Gestion financière</span>
          <h4 class="text-lh-sm">Aurélien Lovalente</h4>
          <p class="font-size-1">CMO et co-fondateur de Studiomatic, Aurélien a travaillé pendant près de 10 en tant que directeur marketing et manager d'artistes chez Sony Music, Universal et Deezer. </p>
        </div>

        <div class="card-footer border-0 pt-0">
          <!-- Social Networks -->
          <ul class="list-inline mb-0">
            <li class="list-inline-item">
              <a class="btn btn-xs btn-icon btn-soft-secondary rounded" href="https://www.studiomatic.co/" target="_blank">
                <i class="fas fa-link"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a class="btn btn-xs btn-icon btn-soft-secondary rounded" href="https://www.linkedin.com/in/aurelienlovalente/" target="_blank">
                <i class="fab fa-linkedin"></i>
              </a>
            </li>
          </ul>
          <!-- End Social Networks -->
        </div>
      </div>
      <!-- End Team -->
    </div>

    <div class="col-sm-6 col-lg-3 px-2 mb-3">
      <!-- Team -->
      <div class="card h-100 transition-3d-hover">
        <div class="card-body">
          <div class="avatar avatar-lg avatar-circle mb-4">
            <%= image_tag("100x100/nc.jpg", class: "avatar-img", alt: "Photo de profil de Nathan Cocherie") %>
          </div>

          <span class="d-block small font-weight-bold text-cap mb-1">Projet artistique et<br> état d'esprit</span>
          <h4 class="text-lh-sm">Nathan Cocherie</h4>
          <p class="font-size-1">Nathan a travaillé dans l’industrie musicale à Paris, New York et Berlin avant de se lancer entant que réalisateur artistique à son compte.</p>
        </div>

        <div class="card-footer border-0 pt-0">
          <!-- Social Networks -->
          <ul class="list-inline mb-0">
            <li class="list-inline-item">
              <a class="btn btn-xs btn-icon btn-soft-secondary rounded" href="https://nathancocherie.com/" target="_blank">
                <i class="fas fa-link"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a class="btn btn-xs btn-icon btn-soft-secondary rounded" href="https://www.linkedin.com/in/nathancocherie/" target="_blank">
                <i class="fab fa-linkedin"></i>
              </a>
            </li>
          </ul>
          <!-- End Social Networks -->
        </div>
      </div>
      <!-- End Team -->
    </div>
  </div>


</div>
<!-- End Team Section -->