<!-- Required Meta Tags Always Come First -->
<title><%= meta_title %> - Formation Artiste Entrepreneur</title>
<link rel="canonical" href="<%= request.original_url %>">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Primary Meta Tags -->
<meta name="title" content="<%= meta_title %> - Formation Artiste Entrepreneur">
<meta name="description" content="<%= meta_description %>">

<!-- Facebook OpenGraph meta tags -->
<meta property="og:title" content="<%= meta_title %>">
<meta property="og:type" content="website">
<meta property="og:url" content="<%= request.original_url %>">
<meta property="og:image" content="<%= meta_image %>">
<meta property="og:description" content="<%= meta_description %>">
<meta property="og:site_name" content="<%= meta_title %>">

<!-- Twitter meta tags -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:site" content="<%= DEFAULT_META["twitter_account"] %>">
<meta property="twitter:title" content="<%= meta_title %>">
<meta property="twitter:description" content="<%= meta_description %>">
<meta property="twitter:creator" content="<%= DEFAULT_META["twitter_account"] %>">
<meta property="twitter:image:src" content="<%= meta_image %>">